
/* LOADER 1 */

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html,body{
  margin:0;
  width:100%;
  height:100%;
}
#slider,.layer{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
#slider>div:first-child{
  z-index:1;
  pointer-events:none;
}
#slider>div:last-child{
  z-index:0;
}
.layer{
  opacity:1;
  transition-delay:1s;
  transition-property: opacity;
  transition-duration:2s;
  transition-timing-function:ease-out;
  background-color:#FFF;
}
.layer.hide{
  opacity:0;
}
.content .view{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  width:100%;
  height:100%;
}
li{
  list-style:none;
}
